name: Publish Docker Image

on:
  push:
    branches: [main] 
  workflow_dispatch:   

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ghcr.io/oleksiiLevchenko727/wdio-allure:latest .

      - name: Push Docker image to GHCR
        run: docker push ghcr.io/oleksiiLevchenko727/wdio-allure:latest
