name: Run Docker Image

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ghcr.io/oleksiiLevchenko727/wdio-allure:latest .

      - name: Push image to GHCR
        run: docker push ghcr.io/oleksiiLevchenko727/wdio-allure:latest

      - name: Run WDIO tests inside container
        run: docker run ghcr.io/oleksiiLevchenko727/wdio-allure:latest
