name: Run Docker Image

on:
  workflow_dispatch:   
  push:
    branches: [ "main" ] 

jobs:
  run-container:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read  

    steps:
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker image
        run: |
          docker pull ghcr.io/${{ github.repository_owner }}/myapp:latest

      - name: Run Docker container
        run: |
          docker run ghcr.io/${{ github.repository_owner }}/myapp:latest
